<%- include("./partiales/header.ejs") %>
<h1>Posts</h1>
<% if(posts?.length>0 && posts) { %>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/posts/<%= post.id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>

} %>
<%- include("./partiales/footer.ejs") %>